* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100vw;
}

/* SECTION ONE */

.section-one {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 8px 9rem;
}

.section-one > h4 {
  margin: 1rem;
}

.section-one > h4:hover {
  color: #3882f6;
}
.section-one > ul {
  display: flex;
  list-style: none;
}

.section-one > ul > li {
  margin: 1rem;
}

.section-one > ul > li:hover {
  color: #3882f6;
}

/* SECTION TWO */

.section-two {
  background-color: #1f2937;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.section-two > .left-content {
  max-width: 400px;
}

.section-two > .left-content > h2 {
  margin-bottom: 1rem;
}

.section-two > .right-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 134.4px;
  width: 400px;
  background-color: #e5e7eb;
  color: #333;
  margin: 0 1rem;
  border-radius: 5px;
}

/* SECTION THREE */

.section-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.section-three > h3 {
  text-align: center;
  color: #333;
  margin-bottom: 1.5rem;
}

.section-three-container {
  display: flex;
  max-width: 1000px;
}

.section-three > .section-three-container > .div-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-three > .section-three-container > .div-container > div {
  background-color: cornflowerblue;
  height: 200px;
  width: 200px;
  border-radius: 5px;
  border: 3px solid #3882f6;
  margin: 0 1rem;
}

.section-three > .section-three-container > .div-container > div:hover {
  transform: scale(0.98);
  cursor: pointer;
}

.section-three > .section-three-container > .div-container > p {
  margin-top: 1rem;
  width: 200px;
  align-items: center;
}

/* SECTION FOUR */

.section-four {
  background-color: #e5e7eb;
  margin: 0;
}

.section-four-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  background-color: #e5e7eb;
  margin: auto;
  padding: 2rem 0;
}

.section-four p {
  padding: 0.5rem 5rem;
  line-height: 1.4rem;
  font-size: 1.2rem;
}

p.author {
  padding-right: 0;
  margin-right: -10rem;
}

/* SECTION FIVE */

.section-five {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-five > .container {
  margin: 4rem auto;
  width: 1000px;
  height: 150px;
  background-color: #3882f6;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}

.section-five > .container > .left {
  padding: 1rem;
}

.section-five > .container > .left > h4 {
  margin-bottom: 0.8rem;
}

.section-five > .container > .right > button {
  border: 1px solid #fff;
  padding: 5px 20px;
}

button {
  background-color: #3882f6;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
}

button:hover {
  transform: scale(0.98);
  cursor: pointer;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #fff;
  padding: 1.5rem 0;
}
